.DS_Store
*~
*.log
*.js.meta
node_modules/
build/

node_modules/react-360/*
!node_modules/react-360/Libraries/
node_modules/react-360/Libraries/*
!node_modules/react-360/Libraries/VRReactOverrides/
node_modules/react-360/Libraries/VRReactOverrides/*
!node_modules/react-360/Libraries/VRReactOverrides/processTransform.vr.js
